<h1>Craps</h1>

<section id='dice' class='section_craps'>
<br/>
<br/>
<div class='section_label'><h2>Dice</h2></div>
	<div id='roll_button_div'>
		<% if $casino.game.pass_bet %>
			<form method='POST' action='/roll' required>
				<button id='roll_button'>ROLL!</button>
			</form>
		<% end %>
	</div>
	<div id='previous_rolls'>
		<% if $casino.game.roll %>
			<h2>Last Roll: <%= $casino.game.roll %>
		<% end %>
		<% if $casino.game.game_point %>
			| Point: <%= $casino.game.game_point %> </h2>
		<% end %>
	</div>

</section>
<div class='section_label'><h2>Dealer</h2></div>
<section id='dealer' class='section_craps'>
	<h2> Dealer: "<%= $casino.game.message %>" </h2>
</section>

<section id='pass' class='section_craps'>
<div class='section_label'><h2>Pass Bet</h2></div>
	<% if $casino.game.pass && $casino.game.pass_bet %>
		<div id='status_pass_bet'>
			<h2> Bet type: <%= $casino.game.pass %> |
			Bet amount: $<%= $casino.game.pass_bet %> </h2>
		</div>
	<% else %>
		<div id='place_pass_bet'>
			<form method="POST" action="/set_pass">
				<label for='bet_type'>Choose your bet type</label> 
				<br>
				<input type="radio" name="pass" value="Pass" id='bet_type' required> Place "Pass" Bet <br>
				<input type="radio" name="pass" value="Don't Pass" id='bet_type' required> Place "Don't Pass" Bet <br>
				<label for='pass_bet_amount'>Bet amount?</label>
				<br>
				<input type="number" name="pass_bet" id='pass_bet_amount' min='10' required>
				<input type='submit'>Place Bet</input>
			</form>
		</div>
	<% end %>
</section>

<section id='Odds Bet' class='section_craps'>
	<div class='section_label'><h2>Odds Bet</h2></div>
	<% if $casino.game.odds && $casino.game.odds_bet && $casino.game.game_point %>
		<div>
			<h2>Odds bet amount: $<%= $casino.game.odds_bet %> </h2>
		</div>
	<% elsif $casino.game.game_point %>
		<div id='place_pass_bet'>
			<form method="POST" action="/set_odds" required>
				<label for='odds'> Place an odds bet?</label> <br>
				<input type="radio" name="odds" value="true" id='odds' required> Yes
				<br>
				<label for='odds_bet_amount'>Bet amount?</label>
				<br>
				<input type="number" name="odds_bet" id='odds_bet_amount' min='10'>
				<input type='submit'>Place Bet</input>
			</form>
		</div id='status_pass_bet'>
	<% end %>



</section>
<a href="/">Return to Menu</a>